Menu {
    width: 100% auto;  
    height: 16.4rem;

    background: #ffc000;
    border: 1.5px solid #333;
    margin: 0 auto;
    padding: 1rem; 
    }

.Imagenes img {
    width: 300px;
    height: 200px;
    }

td {
        text-align: center;
    }